/*bouton pour retourner en haut de la page*/
.RetourHautPage
{
    position: fixed;
    bottom:50px;
    right: 10px;
    z-index: 2;
}

.imgRetourHautPage
{
    width: 45px;
    cursor: pointer;
}
/*-------------------*/

/*body*/
body
{
    background-color: rgb(197, 189, 189) !important; 
}
/*-------------------*/


/*header*/
header
{
    background-color: rgb(112, 17, 31); 
}

/*-------------media querie mobile----------------*/
@media screen and (max-width:576px)
{
    .colonneBandeau1, .colonneBandeau2
    {
        width:27% !important;
        padding-right: 5px !important;
        padding-left: 5px !important;
    }
    .colonneBandeau3
    {
        width:46% !important;
        padding-right: 5px !important;
        padding-left: 5px !important;
    }
}

/*Barre de cookies*/
#cookies
{
    position: fixed;
    top:0px;
    width: 100%;
    text-align: center;
    background-color:#cfcfcf;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    z-index: 1;
} 
#cookies .accepter
{
    margin: 0 15px;
    border: 1px solid #f39331;
    background-color: #ffffff;
    color: #f39331;
    border-radius: 2px;
    padding: 3px;
    cursor: pointer;
}
#cookies .savoirPlus
{
    margin: 0 15px;
    border: 1px solid #f39331;
    background-color: #ffffff;
    color: #f39331;
    border-radius: 2px;
    padding: 3px;
    width: 150px;
    
}
#cookies .accepter:hover
{
    background-color:#f39331;
    color: white;
}
#cookies .savoirPlus:hover
{
    background-color:#f39331;
    color: white;
}

/*------------------Class Active-------------------------------------*/
.active, .nav-link:hover {
    background-color: #666;
    color: gray;
    border: 1px dotted white;
  }
/*----------------------fin de la class Active--------------------*/



/* ---------------------modal dialog connecter---------------------*/
#myModalConnecter .modal-header {
    margin: 0 auto;
}
#myModalConnecter form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#myModalConnecter figure {
    width: 80%;
    margin: auto;
    margin-top: auto;
    margin-top: 10px;
}
#myModalConnecter .bntAligne {
    display: inline-block;
    width: 131px;
    vertical-align: top;
}
#myModalConnecter label {
    width: 40%;
    min-width: 150px;
    float: left;
    text-align: left;
}
#myModalConnecter form a {
    margin-top: 15px;
}
#myModalConnecter form #modal_get {
    margin-top: 20px;
    width: 150px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    margin-bottom: 15px;
}

/*--------------footer--------*/
footer.container-fluid
{
    background-color: rgb(112, 17, 31);  
}
/*------------------------------------*/



