
/*couleur bandeau du header: rgb(112, 17, 31)*/
/*body; background-color:  rgb(197, 189, 189) !important;*/

.carousel-inner .carousel-item img 
{
    max-height: 397px;;
}
h1.titreAccueil
{
    font-size: 1.5rem ;
    color:rgb(112, 17, 31) ;
}

/* Positionnement du titre dans l'image / Positioning the title in the image*/
.TitreArticle
{
    display: none;
    top: 40px;
    opacity: 0.6;
    background-color: rgb(167, 132, 132);
    color: black;
    left: 12%;
}

/* Affichage du titre au survol des image / Displaying the title when the image is flown*/
.imgboutique:hover .TitreArticle
{
    display: block;
}
/* FIN Bloc présentation des produits / END Product presentation block */


.descriptionFormateur 
{
    font-size: 1.3rem ;
    color:rgb(112, 17, 31) 
}
.descriptionFormateur img .imagesFormateur 
{
    text-align: center !important;
}
.h3Formateur
{
    font-size: 1.3rem ;
    color:rgb(112, 17, 31)
}




@media screen and (max-width:992px)
{
    .imgboutique .TitreArticle
    {
    display: block;
    }
}