#produits .h2border
{
     color:rgb(112, 17, 31);
     background-color: rgb(170,155,155);
}
#produits .card-title
{
     color:rgb(112, 17, 31) ; 
}
#produits .Rupture
{
     color: red;
}
#produits .stock
{
     color: green;
}

#produits .card-title
{
     height: 50px;
}

