#notreMarque .about
{
    background-color:rgb(177, 165, 160);
}

/*about*/
#notreMarque .separator
{
    height: 3px;
    width: 5%;
    background-color:  rgb(243, 212, 73);
}

/*portfolio*/
.portfolio 
{
    background-color: rgb(197, 189, 189); 
}
.portfolio .item-folio 
{ 
    background-color:rgb(177, 165, 160);
}








